/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
html,
body {
  font-family: sans-serif;
  background: radial-gradient(circle, black, white);
}
.container {
  margin: 2rem;
}
